body {
  margin: 0;
  line-height: normal;
}

.website-design-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(229, 84, 115, 0.1);
  width: 1360px;
  height: 602.08px;
}

.it-is-a,
.lets-make-beautiful {
  position: absolute;
  left: 0;
  display: inline-block;
}

.lets-make-beautiful {
  top: 0;
  font-weight: 800;
  width: 501.5px;
}

.it-is-a {
  top: 226.67px;
  font-size: 12.75px;
  line-height: 21.25px;
  color: rgba(39, 39, 39, 0.6);
  width: 449.08px;
}

.shop-now {
  position: relative;
}

.shop-now-wrapper {
  position: absolute;
  top: 313.08px;
  left: 0;
  border-radius: 5.67px;
  background-color: #e55473;
  display: flex;
  flex-direction: row;
  padding: 14.166666030883789px 30.458332061767578px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14.17px;
  color: #fff;
}

.lets-make-beautiful-flowers-a-parent {
  position: absolute;
  top: 139.54px;
  left: 170px;
  width: 501.5px;
  height: 358.42px;
  text-align: left;
  font-size: 45px;
}

.our-featured-flowers {
  position: absolute;
  top: 0;
  left: calc(50% - 138.83px);
  font-weight: 800;
}

.it-is-a1,
.our-featured-flowers-parent {
  position: absolute;
  left: calc(50% - 210.38px);
  width: 420.75px;
}

.it-is-a1 {
  top: 51px;
  font-size: 12.75px;
  line-height: 21.25px;
  color: rgba(39, 39, 39, 0.6);
  display: inline-block;
}

.our-featured-flowers-parent {
  top: 728.17px;
  height: 94px;
}

.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5.67px;
  background-color: rgba(229, 84, 115, 0.05);
  width: 1361.42px;
  height: 439.17px;
}

.off {
  color: #e55473;
}

.hot-deal-container {
  position: absolute;
  top: 0;
  left: calc(50% - 190.54px);
  font-weight: 800;
}

.it-is-a2 {
  position: absolute;
  top: 51px;
  left: calc(50% - 210.38px);
  font-size: 12.75px;
  line-height: 21.25px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  display: inline-block;
  width: 420.75px;
}

.sign-up-wrapper {
  position: absolute;
  top: 116.17px;
  left: 147.33px;
  border-radius: 5.67px;
  background-color: #e55473;
  display: flex;
  flex-direction: row;
  padding: 14.166666030883789px 30.458332061767578px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 14.17px;
  color: #fff;
}

.hot-deal-sale-up-to-25-off-parent {
  position: absolute;
  top: 162.92px;
  left: calc(50% - 400.92px);
  width: 420.75px;
  height: 161.5px;
}

.pngwing-8-icon {
  position: absolute;
  top: 70.83px;
  left: 832.29px;
  width: 225.25px;
  height: 297.5px;
  object-fit: cover;
}

.group-item,
.rectangle-parent {
  position: absolute;
  width: 1361.42px;
}

.rectangle-parent {
  top: 1692.21px;
  left: -1.42px;
  height: 439.17px;
  text-align: left;
}

.group-item {
  top: 0;
  left: 0;
  background-color: #111010;
  height: 318.04px;
}

.shop {
  color: #fff;
}

.flowershop {
  position: absolute;
  top: 90.67px;
  left: 588.63px;
  font-weight: 800;
  text-align: left;
}

.it-is-a3 {
  position: absolute;
  top: 148.75px;
  left: calc(50% - 221.71px);
  font-size: 12.75px;
  line-height: 21.25px;
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  width: 442.71px;
}

.flowershopcom-all-rights {
  position: absolute;
  top: 213.92px;
  left: 554.63px;
  font-size: 11.33px;
  color: rgba(255, 255, 255, 0.4);
}

.rectangle-group {
  position: absolute;
  top: 3129.42px;
  left: -1.42px;
  width: 1361.42px;
  height: 318.04px;
  font-size: 34px;
  color: #e55473;
}

.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5.67px;
  background-color: rgba(39, 39, 39, 0.05);
  width: 1020px;
  height: 226.67px;
}

.group-icon {
  position: absolute;
  top: 0;
  left: 100.58px;
  width: 62.33px;
  height: 62.33px;
}

.same-day-delivery {
  position: absolute;
  top: 79.33px;
  left: 0;
  line-height: 24.79px;
  font-weight: 600;
}

.group-child1,
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 104.33px;
}

.group-child1 {
  left: 80.75px;
  width: 62.33px;
  height: 62.33px;
}

.group-child2,
.group-div {
  position: absolute;
  top: 0;
  left: 334.33px;
  width: 224px;
  height: 104.33px;
}

.group-child2 {
  left: 40.38px;
  width: 62.33px;
  height: 62.33px;
}

.group-parent,
.group-parent1 {
  position: absolute;
  top: 0;
  left: 629px;
  width: 143px;
  height: 104.33px;
}

.group-parent {
  top: 60.92px;
  left: 123.96px;
  width: 772px;
}

.rectangle-container {
  position: absolute;
  top: 1374.88px;
  left: 170px;
  width: 1020px;
  height: 226.67px;
  font-size: 17px;
  color: rgba(39, 39, 39, 0.8);
}

.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 212.5px 212.5px 0 0;
  background-color: rgba(5, 151, 160, 0.15);
  width: 328.67px;
  height: 381.08px;
}

.pink-flower-tree {
  position: absolute;
  top: 403.75px;
  left: 100.58px;
  text-decoration: underline;
  line-height: 24.79px;
}

.pngwing-5-icon {
  position: absolute;
  top: 82.88px;
  left: 33.29px;
  width: 262.08px;
  height: 262.08px;
  object-fit: cover;
}

.group-child3,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 345.67px;
  width: 328.67px;
  height: 428.75px;
}

.group-child3 {
  left: 0;
  border-radius: 212.5px 212.5px 0 0;
  background-color: rgba(167, 33, 98, 0.15);
  height: 381.08px;
}

.pngwing-6-icon {
  position: absolute;
  top: 77.92px;
  left: 53.83px;
  width: 219.58px;
  height: 303.17px;
  object-fit: cover;
}

.pink-flower-tree-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 328.67px;
  height: 428.75px;
}

.pink-flower-tree2 {
  position: absolute;
  top: 403.75px;
  left: 101.29px;
  text-decoration: underline;
  line-height: 24.79px;
}

.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 212.5px 212.5px 0 0;
  background-color: rgba(71, 125, 17, 0.15);
  width: 328.67px;
  height: 381.08px;
}

.pngwing-7-icon {
  position: absolute;
  top: 47.46px;
  left: 53.13px;
  width: 222.42px;
  height: 333.63px;
  object-fit: cover;
}

.group-parent2,
.pink-flower-tree-group {
  position: absolute;
  top: 0;
  left: 691.33px;
  width: 328.67px;
  height: 428.75px;
}

.group-parent2 {
  top: 855.67px;
  left: 170px;
  width: 1020px;
  font-size: 17px;
}

.instagram {
  position: absolute;
  top: 0;
  left: calc(50% - 63.75px);
  font-weight: 800;
}

.instagram-parent {
  position: absolute;
  top: 2222.04px;
  left: calc(50% - 210.38px);
  width: 420.75px;
  height: 94px;
}

.website-design-item {
  position: absolute;
  top: 2349.54px;
  left: 170px;
  width: 242.25px;
  height: 280.5px;
  object-fit: cover;
}

.group-child5,
.pngwing-10-icon,
.rectangle-icon,
.website-design-child1,
.website-design-inner {
  position: absolute;
  top: 2349.54px;
  left: 429.25px;
  width: 242.25px;
  height: 280.5px;
  object-fit: cover;
}

.group-child5,
.pngwing-10-icon,
.rectangle-icon,
.website-design-child1 {
  left: 688.5px;
}

.group-child5,
.pngwing-10-icon,
.website-design-child1 {
  left: 947.75px;
}

.group-child5,
.pngwing-10-icon {
  top: 35.42px;
  left: 740.21px;
  width: 449.79px;
  height: 566.67px;
}

.group-child5 {
  top: 0;
  left: 0;
  border-radius: 5.67px;
  width: 1020px;
  height: 318.04px;
}

.get-the-latest {
  position: absolute;
  top: 0;
  left: calc(50% - 132px);
  font-weight: 800;
}

.coupon-for-first {
  position: absolute;
  top: 45.33px;
  left: calc(50% - 83.13px);
  font-size: 12.75px;
  line-height: 21.25px;
  color: rgba(39, 39, 39, 0.6);
}

.get-the-latest-deals-parent,
.group-child6 {
  position: absolute;
  top: 0;
  left: calc(50% - 132.46px);
  width: 264px;
  height: 67.33px;
}

.group-child6 {
  left: calc(50% - 247.92px);
  border-radius: 5.67px;
  background-color: #fff;
  width: 495.83px;
  height: 45.33px;
}

.enter-your-email {
  position: absolute;
  /* top: 10px; */
  left: calc(50% - 232.33px);
  width: 400px;
  height: 35px;
}

.group-child7,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: calc(50% - 306.71px);
  width: 495.83px;
  height: 45.33px;
}

.group-child7 {
  left: calc(50% - 53.13px);
  border-radius: 5.67px;
  background-color: #e55473;
  width: 106.25px;
}

.subscribe {
  position: absolute;
  top: 12.95px;
  left: 21.96px;
  display: inline-block;
  width: 62.33px;
  height: 19.43px;
}

.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: calc(50% + 200.46px);
  width: 106.25px;
  height: 45.33px;
  text-align: left;
  font-size: 14.17px;
  color: #fff;
}

.group-parent3,
.group-parent4 {
  position: absolute;
  left: calc(50% - 306.71px);
  width: 613.42px;
}

.group-parent4 {
  top: 100.58px;
  height: 45.33px;
  font-size: 11.33px;
  color: rgba(39, 39, 39, 0.6);
}

.group-parent3 {
  top: 86.42px;
  height: 145.92px;
}

.rectangle-parent2 {
  position: absolute;
  top: 2720.71px;
  left: 170px;
  width: 1020px;
  height: 318.04px;
}

.website-design {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 3447.46px;
  overflow: hidden;
  text-align: center;
  font-size: 28.33px;
  color: var(--color-gray-100);
  font-family: Lato;
}