.website-design-child {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: rgba(229, 84, 115, 0.1);
  width: 1724px;
  height: 850px;
  margin: 0 auto;
}

.it-is-a,
.lets-make-beautiful {
  margin: 0;
  position: absolute;
  left: 0;
  display: inline-block;
}

.lets-make-beautiful {
  top: 0;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  width: 708px;
}

.it-is-a {
  top: 320px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  width: 634px;
}

.shop-now {
  position: relative;
}

.shop-now-wrapper {
  position: absolute;
  top: 442px;
  left: 0;
  border-radius: 8px;
  background-color: #e55473;
  display: flex;
  flex-direction: row;
  padding: 20px 43px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  color: #fff;
}

.lets-make-beautiful-flowers-a-parent {
  position: absolute;
  top: 197px;
  left: 242px;
  width: 708px;
  height: 506px;
  text-align: left;
  font-size: 80px;
}

.our-featured-flowers {
  position: absolute;
  top: 0;
  left: 196px;
  font-weight: 800;
}

.it-is-a1 {
  position: absolute;
  top: 72px;
  left: 400px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  display: inline-block;
  width: 594px;
}

.our-featured-flowers-parent {
  position: absolute;
  top: 1028px;
  left: 296px;
  width: 594px;
  height: 132px;
}

.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
  width: 1722px;
  height: 620px;
}

.off {
  color: #e55473;
}

.hot-deal-container,
.it-is-a2 {
  position: absolute;
  display: inline-block;
}

.hot-deal-container {
  top: 0;
  left: 150px;
  font-weight: 800;
  width: 592.21px;
}

.it-is-a2 {
  top: 72px;
  left: 100px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  width: 655.07px;
}

.sign-up-wrapper {
  position: absolute;
  top: 164px;
  left: 253.31px;
  border-radius: 8px;
  background-color: #e55473;
  width: 190.79px;
  display: flex;
  flex-direction: row;
  padding: 20px 43px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 20px;
  color: #fff;
}

.hot-deal-sale-up-to-25-off-parent {
  position: absolute;
  top: 230px;
  left: 100px;
  width: 655.07px;
  height: 228px;
}

.pngwing-8-icon {
  position: absolute;
  top: 100px;
  left: 909px;
  width: 284.91px;
  height: 420px;
  object-fit: cover;
}

.rectangle-parent {
  position: absolute;
  top: 2389px;
  left: 0;
  width: 1722px;
  height: 620px;
  text-align: left;
}

.group-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111010;
  width: 1360px;
  height: 449px;
}

.shop {
  color: #fff;
}

.flowershop {
  top: 131px;
  left: 526px;
  font-weight: 800;
  text-align: left;
  width: 309px;
}

.flowershop,
.flowershopcom-all-rights,
.it-is-a3 {
  position: absolute;
  display: inline-block;
}

.it-is-a3 {
  top: 204px;
  left: 450px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.9);
  width: 442.25px;
}

.flowershopcom-all-rights {
  top: 294px;
  left: 554px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  width: 252.61px;
}

.rectangle-group {
  position: absolute;
  top: 4418px;
  left: 0;
  width: 1360px;
  height: 449px;
  font-size: 48px;
  color: #e55473;
}

.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: rgba(39, 39, 39, 0.05);
  width: 1172px;
  height: 320px;
}

.group-icon {
  position: absolute;
  top: 0;
  left: 103.1px;
  width: 86.41px;
  height: 88px;
}

.same-day-delivery {
  position: absolute;
  top: 112px;
  left: 0;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 365.28px;
  height: 35px;
}

.group-child1,
.group-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 365.28px;
  height: 147px;
}

.group-child1 {
  left: 66.77px;
  width: 86.41px;
  height: 88px;
}

.fresh-flowers-local {
  position: absolute;
  top: 112px;
  left: 0;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 310.29px;
  height: 35px;
}

.group-div {
  position: absolute;
  top: 0;
  left: 309.31px;
  width: 310.29px;
  height: 147px;
}

.free-support,
.group-child2 {
  position: absolute;
  top: 0;
  left: 30.44px;
  width: 86.41px;
  height: 88px;
}

.free-support {
  top: 112px;
  left: 0;
  line-height: 35px;
  font-weight: 600;
  display: inline-block;
  width: 198.35px;
  height: 35px;
}

.group-parent,
.group-parent1 {
  position: absolute;
  top: 0;
  left: 559.71px;
  width: 198.35px;
  height: 147px;
}

.group-parent {
  top: 86px;
  left: 207px;
  width: 758.06px;
}

.rectangle-container {
  position: absolute;
  top: 1945px;
  left: 88px;
  width: 1172px;
  height: 320px;
  font-size: 24px;
  color: #272727cc;
}

.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 300px 300px 0 0;
  background-color: rgba(5, 151, 160, 0.15);
  width: 395px;
  height: 506.88px;
}

.pink-flower-tree {
  position: absolute;
  top: 537.02px;
  left: 80.87px;
  text-decoration: underline;
  line-height: 35px;
  display: inline-block;
  width: 154.08px;
  height: 32.98px;
}

.pngwing-5-icon {
  position: absolute;
  top: 110.23px;
  left: 40.01px;
  width: 314.98px;
  height: 348.6px;
  object-fit: cover;
}

.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 300px;
  width: 395px;
  height: 570px;
}

.pink-flower-tree1 {
  position: absolute;
  top: 537.02px;
  left: 70.3px;
  text-decoration: underline;
  line-height: 35px;
  display: inline-block;
  width: 135.36px;
  height: 32.98px;
}

.group-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 300px 300px 0 0;
  background-color: rgba(167, 33, 98, 0.15);
  width: 347px;
  height: 506.88px;
}

.pngwing-6-icon {
  position: absolute;
  top: 103.64px;
  left: 40.38px;
  width: 231.83px;
  height: 403.24px;
  object-fit: cover;
}

.pink-flower-tree-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 347px;
  height: 570px;
}

.pink-flower-tree2 {
  position: absolute;
  top: 553.98px;
  left: 75.16px;
  text-decoration: underline;
  line-height: 35px;
  display: inline-block;
  width: 144.72px;
  height: 34.02px;
}

.group-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 300px 300px 0 0;
  background-color: rgba(71, 125, 17, 0.15);
  width: 371px;
  height: 522.88px;
}

.pngwing-7-icon {
  position: absolute;
  top: 65.12px;
  left: 42.38px;
  width: 251.06px;
  height: 457.77px;
  object-fit: cover;
}

.group-parent2,
.pink-flower-tree-group {
  position: absolute;
  top: 0;
  left: 695px;
  width: 371px;
  height: 588px;
}

.group-parent2 {
  top: 1212px;
  left: 148px;
  width: 1066px;
  font-size: 24px;
}

.instagram {
  position: absolute;
  top: 0;
  left: 600px;
  /* width: 300px;
  margin-left: auto; */
  font-weight: 800;
}

.instagram-parent {
  position: absolute;
  top: 3137px;
  /* left: 350px; */
  width: 594px;
  margin-left: auto;
  height: 132px;
  text-align: center;
  font-size: 40px;
  color: #272727;
  font-family: lato;
}

.website-design-item {
  position: absolute;
  top: 3317px;
  left: 242px;
  width: 299px;
  height: 376px;
  object-fit: cover;
}

.group-child5,
.pngwing-10-icon,
.rectangle-icon,
.website-design-child1,
.website-design-inner {
  position: absolute;
  top: 3317px;
  left: 467px;
  width: 317px;
  height: 376px;
  object-fit: cover;
}

.group-child5,
.pngwing-10-icon,
.rectangle-icon,
.website-design-child1 {
  left: 718px;
}

.group-child5,
.pngwing-10-icon,
.website-design-child1 {
  left: 969px;
  width: 316px;
}

.group-child5,
.pngwing-10-icon {
  top: 73px;
  left: 900px;
  width: 500px;
  height: 629.92px;
}

.group-child5 {
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 1045px;
  height: 356px;
}

.coupon-for-first,
.get-the-latest {
  position: absolute;
  display: inline-block;
}

.get-the-latest {
  top: 0;
  left: 200px;
  font-weight: 800;
  width: 293.24px;
  height: 38.06px;
}

.get-the-latest-deals-parent,
.group-child6 {
  position: absolute;
  top: 0;
  left: 100px;
  width: 293.24px;
  height: 74.53px;
}

.group-child6 {
  left: 200px;
  border-radius: 8px;
  background-color: #fff;
  width: 507.99px;
  height: 50.74px;
}

.enter-your-email {
  position: absolute;
  top: 18.68px;
  left: 300px;
  display: inline-block;
  width: 210px;
  height: 20px;
}

.group-child7,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  width: 507.99px;
  height: 50.74px;
}

.group-child7 {
  border-radius: 8px;
  background-color: #e55473;
  width: 153.49px;
}

.subscribe {
  position: absolute;
  top: 14.27px;
  left: 47px;
  display: inline-block;
  width: 90.05px;
  height: 21.75px;
  text-align: center;
}

.rectangle-parent4 {
  position: absolute;
  top: 0;
  width: 153.49px;
  height: 50.74px;
  left: 550px;

  text-align: left;
  font-size: 20px;
  color: #fff;
}

.group-parent3,
.group-parent4 {
  position: absolute;
  width: 542.46px;
}

.group-parent4 {
  top: 151.32px;
  height: 50.74px;
  font-size: 16px;
  color: rgba(39, 39, 39, 0.6);
}

.group-parent3 {
  top: 58px;
  height: 202.06px;
}

.rectangle-parent2 {
  position: absolute;
  top: 3841px;
  left: 181px;
  width: 1045px;
  height: 356px;
}

.website-design {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 4867px;
  text-align: center;
  font-size: 40px;
  color: #272727;
  font-family: lato;
}